<div class="content-heading bg-white">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="m0 text-bold">路由</h2>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <ol>
          <li>
            <a href="https://angular.cn/guide/router#routing-x26-navigation">官網參考</a>
          </li>
          <li>可模組化</li>
          <li>Lazy load</li>
          <li>Pre Load</li>
          <li>守衛模式</li>
        </ol>        
      </div>
    </div>
    </div>