<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <h2 class="m0 text-bold">AngularJS 6</h2>
    </div>
    <div class="col-sm-3 text-right hidden-xs">
    </div>
  </div>
  <div class="row content">
    <ol>
      <li>Google 打造的框架</li>
      <li>TypeScript 為基底</li>
      <li>可以開發App、桌面程式、網頁</li>
      <li>ionic framework</li>
      <li>目的:CRUD</li>
      <li>關注點分離</li>
      <li>以習慣取代配置</li>
    </ol>
  </div>
</div>
<br />
<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="m0 text-bold">Here are some links to help you start:</h2>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-9">
      <ul>
        <li>
            <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
        </li>
        <li>
            <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
        </li>
        <li>
            <a target="_blank" rel="noopener" href="https://blog.miniasp.com/post/2013/04/23/Front-end-Engineering-Fineart-An-Introduction-to-AngularJS.aspx">前端工程的極致精品： AngularJS 開發框架介紹</a>
        </li>
        <li>
            <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">ionic framework</a>
        </li>
      </ul>
    </div>
  </div>
</div>
